<div class="row">
  <div class="col-2"></div>
  <div class="col-10">
    <h3>{{ business.businessName }}</h3>
  </div>

</div>
<div class="row run-business {{business.isUsable()}}">

  <div class="col-2 left-row">
    <button
      class="btn btn-primary"
      [disabled]="!business.isUsable() || business.isManaged || business.isRunning"
      (click)="runBusiness()">{{ business.isManaged ? '∞' : 'run' }}</button>
  </div>
  <div class="col-10">
    <div class="row right-row">
      <div
        class="progress-bar bg-success notransition"
        role="progressbar"
        [style.width]="progressPercent +'%'"
        [hidden]="!business.isRunning"
        aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <div class="row right-row">
      <button class="btn btn-primary" (click)="buyBusiness()" [disabled]="business.getInstanceCost() > player.money">Buy <span class="badge badge-light">${{business.getInstanceCost()}}</span></button>
      <button class="btn btn-primary" (click)="buyBusinessManager()" [disabled]="(business.managerCost > player.money) || business.isManaged || !business.isUsable()">{{ business.isManaged ? 'Managed' : 'Purchase Manager' }} <span *ngIf="!business.isManaged" class="badge badge-light">${{business.managerCost}}</span></button>
      <button type="button" class="btn btn-info" disabled>Count <span class="badge badge-light">{{business.instanceCount}}</span></button>
      <button type="button" class="btn btn-info" disabled>Multiplier <span class="badge badge-light">x{{ business.buffedIncome }}</span></button>
    </div>
  </div>
</div>
