<div class="row run-business {{business.isUsable()}}">
  <div class="card {{business.isUsable() ? 'border-primary' : 'border-light'}}" style="width: 100%;">
    <div class="card-header">
      {{ business.businessName}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="input-group">
          <button style="width:5%;"
            class="btn btn-primary"
            [disabled]="!business.isUsable() || business.isManaged || business.isRunning"
            (click)="runBusiness()">{{ business.isManaged ? '∞' : 'run' }}</button>
          <div *ngIf='business.getCastTime() > 250 || !business.isManaged'
            class="progress-bar bg-success notransition"
            role="progressbar"
            [style.width]="(95*(progressPercent/100)) +'%'"
            [hidden]="!business.isRunning"
            aria-valuemin="0"
            aria-valuemax="100"></div>
            <div *ngIf='business.isManaged && business.getCastTime() === 250' class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
        </div>

      </li>
      <li class="list-group-item">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-primary" (click)="buyBusiness()" [disabled]="business.getInstanceCost() > player.money">Buy <span class="badge badge-light">${{business.getInstanceCost()}}</span></button>
          <button class="btn btn-primary" (click)="buyBusinessManager()" [disabled]="(business.managerCost > player.money) || business.isManaged || !business.isUsable()">{{ business.isManaged ? 'Managed' : 'Purchase Manager' }} <span *ngIf="!business.isManaged" class="badge badge-light">${{business.managerCost}}</span></button>
          <button type="button" class="btn btn-info" disabled>Count <span class="badge badge-light">{{business.instanceCount}}</span></button>
          <button type="button" class="btn btn-info" disabled>Multiplier <span class="badge badge-light">x{{ business.buffedIncome }}</span></button>
        </div>
      </li>
    </ul>
  </div>
</div>
